# Folders
.build/*
.idea/
Documentation-GENERATED-temp/

# Files
*.cache
*.zip
Build/node_modules

# Include site configuration
!.build/config/
.build/config/*
!.build/config/sites/
.build/config/sites/development/

# Include easyconf configurations
!.build/public/
.build/public/*
!.build/public/fileadmin/
.build/public/fileadmin/*
!.build/public/fileadmin/easyconf/
!.build/public/fileadmin/pizpalue/
.build/public/fileadmin/pizpalue/*
!.build/public/fileadmin/pizpalue/extensions/
.build/public/fileadmin/pizpalue/extensions/*
!.build/public/fileadmin/pizpalue/extensions/easyconf/

# Include AdditionalConfiguration.php
!.build/public/typo3conf/
.build/public/typo3conf/*
!.build/public/typo3conf/AdditionalConfiguration.php
