# Folders
!/.build/
/.build/*
!/.build/public/
/.build/public/*
!/.build/public/fileadmin/
/.build/public/fileadmin/*
/.idea/
/Build/node_modules
/Documentation-GENERATED-temp/
/var/

# Files
/.ddev/docker-compose.mount.yaml
/composer-dev.lock
*.cache
*.zip
/config/sites/development

# Include pizpalue configuration
!/.build/public/fileadmin/pizpalue/
/.build/public/fileadmin/pizpalue/*
!/.build/public/fileadmin/pizpalue/forms

# Include user_pizpalue configuration
!/.build/public/fileadmin/user_pizpalue/
/.build/public/fileadmin/user_pizpalue/*
!/.build/public/fileadmin/user_pizpalue/customforms
!/.build/public/fileadmin/user_pizpalue/design

# Include easyconf configurations
!/.build/public/fileadmin/easyconf/
!/.build/public/fileadmin/pizpalue/extensions/
/.build/public/fileadmin/pizpalue/extensions/*
!/.build/public/fileadmin/pizpalue/extensions/easyconf/

# Include cms configuration
!/.build/public/typo3conf/
/.build/public/typo3conf/*
!/.build/public/typo3conf/AdditionalConfiguration.php
!/.build/public/typo3conf/LocalConfiguration.php
